<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<!-- {-sm|-md|-lg|-xl} -->

<div th:fragment="social-car" class="container" >
    <div class="row justify-content-start">
        <div class="col-3 d-none d-lg-block" th:if="${CONTACT_EMAIL != null and CONTACT_EMAIL.activated and contacts > 1}">
            <i class="fas fa-envelope fa-sm fa-inverse"><a class="mailto ml-1 font-weight-bold"
                                                           th:href="'mailto:' + ${CONTACT_EMAIL.value}"
                                                           th:text="${CONTACT_EMAIL.value}">contact@domain.com</a></i>
        </div>
        <div class="col-9" th:if="${CONTACT_EMAIL != null and CONTACT_EMAIL.activated and contacts == 1}">
            <i class="fas fa-envelope fa-sm fa-inverse"><a class="mailto ml-1 font-weight-bold"
                                                           th:href="'mailto:' + ${CONTACT_EMAIL.value}"
                                                           th:text="${CONTACT_EMAIL.value}">contact@domain.com</a></i>
        </div>

        <div class="col-9 col-lg-6" th:unless="${CONTACT_EMAIL != null and CONTACT_EMAIL.activated and contacts == 1}">
            <i class="fab fa-whatsapp fa-sm fa-inverse ml-3" aria-hidden="true" th:if="${CONTACT_WHATS != null and CONTACT_WHATS.activated}">
                <strong class="phoneto ml-1 font-weight-bold" th:text="${CONTACT_WHATS.value}">+1 (342)-(323)-4923</strong></i>

            <a th:href="${CONTACT_FACEBOOK.value}" target="_blank" class="facebook ml-3"
               th:if="${CONTACT_FACEBOOK != null and CONTACT_FACEBOOK.activated}"><i class="fab fa-facebook fa-sm fa-inverse"></i></a>
        </div>

        <div class="col-3">
            <i class="float-right">
                <a href="#"><i class="fas fa-shopping-cart fa-sm fa-inverse"></i></a><span class="badge badge-pill badge-light">30</span>
            </i>
        </div>
    </div>
</div>

<div th:fragment="logo-search" class="container" >
    <div class="row align-items-center ">
        <div class="col-3">
            <img th:src="@{/img/logo/logo_w_96.png}" th:alt="#{application.name}" th:title="#{application.name}"
                 class="img-fluid rounded-circle navbar-brand m-0" width="96" height="96"/>
        </div>

        <div class="col-9">
            <form class="form-inline my-lg-0 float-right">
                <div class="input-group input-group">
                    <input class="form-control" type="search"
                           aria-describedby="inputGroup-sizing-sm">
                    <div class="input-group-prepend">
                        <a class="btn btn-outline-dark" href="#">
                            <i class="fas fa-search fa"></i>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<ui th:fragment="menu" class="nav">

    <a class="nav-item nav-link" href="#pomotions" th:text="#{section.promotion}">Promotions</a>

</ui>

</html>
