<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <!-- {-sm|-md|-lg|-xl} -->
    <div class="row" th:fragment="grid (products)">
        <th:block th:each="prod : ${products}">
            <div class="col-md-3 col-sm-6">
                <div class="shopping-item">
                    <!-- Image -->
                    <a href="#">
                        <img src="../../static/img/def_420_535.png"
                             width="420" height="535" class="img-fluid"
                             th:src="@{'/product/' + ${prod.id} + '/productimg/' + ${prod.namePicture}}"
                             th:width="${prod.keyPicture.width}" th:height="${prod.keyPicture.height}"/>
                        <!-- Shopping item name / Heading -->
                        <h4>
                            <a href="#" th:text="${prod.product.name}">Product name</a>
                            <span class="color float-right" th:text="${prod.product.campaignPrice}">$49</span>
                        </h4>
                        <div class="clearfix"></div>
                        <!-- Buy now button -->
                        <div>
                            <a class="btn btn-color btn-sm" href="#" th:text="#{buy.now}">Buy Now</a>
                        </div>
                        <!-- Shopping item hover block & link -->
                        <div class="item-hover bg-add-blue">
                            <a href="#" data-quantity="1"
                               th:onclick="'javascript:addItemToCart(\'' + ${prod.product.id} + '\');'">
                                <span th:text="#{add.to.card}">Add</span>
                                <i style="margin-left: 25%" class="fas fa-shopping-cart fa-lg fa-inverse"></i>
                            </a>
                        </div>
                        <span class="hot-tag bg-danger">NEW</span>
                </div>
            </div>
        </th:block>
    </div>

</html>