<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>

        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>

        <script crossorigin="anonymous" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

        <title>Ecommerce Home</title>
    </head>
    <body>
        <section class="loading-overlay">
            <div class="Loading-Page">
                <h1 class="loader">Loading...</h1>
            </div>
        </section>
        <div class="alert alert-primary" role="alert">
            <h1 id="hello"></h1>
        </div>
        <script type="application/javascript">
            window.onload = function () {
                if (window.jQuery) {
                    // jQuery is loaded
                    $("#hello").html("Hello Ecommerce jQuery is working!!!");
                } else {
                    // jQuery is not loaded
                    document.getElementById("hello").innerHTML = "Hello Ecommerce jQuery Doesn't Work";
                }
            }
        </script>

        <div class="container-fluid" style="margin-top: 20px">
            <div class="row">
                <div class="col-md-7 col-md-offset-3">
                    <div class="panel panel-primary">

                        <div class="panel-heading">
                            <h1 class="panel-title">My Items!</h1>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive" th:if="${not #lists.isEmpty(items)}">
                                <table class="table table-hover ">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th>ID</th>
                                        <th>ImgName</th>
                                        <th>ImgWidth</th>
                                        <th>ImgHeight</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Price</th>
                                    </tr>
                                    </thead>
                                    <tr th:each="itemScreen : ${items}">
                                        <td th:text="${itemScreen.id}" ></td>
                                        <td th:text="${itemScreen.imgName}" ></td>
                                        <td th:text="${itemScreen.imgWidth}" ></td>
                                        <td th:text="${itemScreen.imgHeight}" ></td>
                                        <td th:text="${itemScreen.name}" ></td>
                                        <td th:text="${itemScreen.description}" ></td>
                                        <td th:text="${itemScreen.price}" ></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>