<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="en">
    <head th:replace="fragments/head :: header">
    </head>
    <body>
        <section class="loading-overlay">
            <div class="Loading-Page">
                <h1 class="loader">Loading...</h1>
            </div>
        </section>
        <div class="alert alert-primary" role="alert">
            <h1 id="hello"></h1>
        </div>
        <script type="application/javascript">
            window.onload = function () {
            if (window.jQuery) {
            // jQuery is loaded
            $("#hello").html("Hello Ecommerce jQuery is working!!!");
            } else {
            // jQuery is not loaded
            document.getElementById("hello").innerHTML = "Hello Ecommerce jQuery Doesn't Work";
            }
            }
        </script>

        <div class="container">
            <div class="jumbotron" th:if="${not #lists.isEmpty(items)}">
                <div class="row">
                    <div class="card mb-4 box-shadow" th:each="itemScreen : ${items}">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal" th:text="${itemScreen.name}"> </h4>
                            <img src="../../static/img/def_420_535.png"
                                 width="420" height="535" class="img-fluid"
                                 th:src="@{'/product/' + ${itemScreen.id} + '/productimg/' + ${itemScreen.keyPicture}}"
                                 th:width="${itemScreen.imgWidth}" th:height="${itemScreen.imgHeight}" />
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title" th:text="${itemScreen.price}"> </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li th:text="${itemScreen.description}"> </li>
                            </ul>
                            <form th:action="@{/shopcar/prodImg}" method="post" >
                                <input type="hidden" name="prodImgId" th:value="${itemScreen.id}"/>
                                <input type="hidden" name="redirect" value="/"/>
                                <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Add Card</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </body>
</html>